.wrapper{
  width: 1120px;
  margin: 0 auto;
  position: relative;
}
.button_left{
  position: absolute;
  left: -80px;
  top: 50%;
  transform: translateY(-50%);
}
.button_right {
  position: absolute;
  right: -80px;
  top: 50%;
  transform: translateY(-50%);
}
.slide{
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 135px;
  width: 320px;
  & p:first-child{
    color: #3877EE;
    font-size: 26px;
    line-height: 30px;
  }
  & p:last-child{
    color: #42567A;
    font-size: 20px;
    line-height: 30px;
  }
}
.hidden{
  visibility: hidden;
}
